*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-color: #7BD3EA;
    padding: 15px;
}
.todo-app{
    width: 80%;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 30px;
    background-color: #F6D6D6;
}

.todo-app h1{
    color: #CB9DF0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h1 img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 255, 255);
    border-radius: 30px;
    padding-left: 20px;
    /* padding-right: 20px; */
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 15px 50px;
    background-color: #F6F7C4;
    border-radius: 30px;
    color: #CB9DF0;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: ' ';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

ul li.checked{
    color: dimgray;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: dimgray;
    line-height: 40px;
    text-align: center;
}